﻿<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="~/Content/app.css">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="back-img">
    <div class="content-block-signin">
        <div class="fp-login-card">
            <div class="fp-input-block">
                <div class="fp-label">Логин</div>
                <input type="text" placeholder="">
            </div>
            <div class="fp-input-block">
                <div class="fp-label">Пароль   </div>
                <input type="password" placeholder="">
            </div>

            <div class="fp-button fill" style="margin-top: 25px!important;">Войти</div>
            <!--<div class="fp-button">Back</div>-->
        </div>
        <div class="fp-sign-foot-h">FluffyPet 2017 © All rights reserved</div>
    </div>



</body>
</html>