.back-img{
    background: url('../img/back.png');
}

/*SIGN UP*/
.content-block-signin{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: linear-gradient(to top,rgba(228,98,177,1),rgba(52,32,123,1));
}
.fp-login-card{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    position: relative;
    background: rgba(49, 0, 17, 0.05);
    border-radius: 20px;
    padding: 15px;
    margin-top: calc(50vh - 160px);
    margin-top: -webkit-calc(50vh - 160px);
}
.fp-input-block{
    width: 100%;
    position: relative;
}
.fp-input-block .fp-label{
    color: rgba(255,255,255,0.7);
    font: 300 18px/21px Roboto;
    padding: 10px 10px 5px;
}
.fp-input-block  input{
    outline:none;
    border: none;
    background: none;
    color: #fff;
    font: 300 20px/23px Roboto;
    padding: 10px;
    border: 1px solid #CB3878;
    border-radius: 10px;
    width: 100%;
}
.fp-input-block  input:focus{
    outline:none;
    border: 1px solid #E0666B;
    background:rgba(240,69,181,.05);
}

.fp-button{
    border: 1px solid #D34671;
    border-radius: 10px;
    font: 200 20px/22px Roboto;
    color: #FF5993;
    padding: 7px;
    margin: 10px 0px;
    text-align: center;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.fp-button:active{
    background:rgba(240,69,181,.05);
}
.fp-button.fill{
    color: #FFFFff;
    background: linear-gradient(to bottom,#E64E8A,rgba(229,47,118,.7));
    font: 300 20px/22px Roboto;
    border:none;
}
.fp-button.fill:active{
    opacity: 0.8;
}
.fp-sign-foot-h{
    color: #fff;
    font: 400 14px/17px Roboto;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}